Django==1.11.18
celery[redis]==4.2.1
django-celery-beat==1.4.0
django-celery-results==1.0.4
django-compressor==2.2
django-redis==4.10.0
social-auth-core[openidconnect]==2.0.0
social-auth-app-django==3.1.0
python-appengine-auth==0.1.dev0
whitenoise
pytz
