{% for field in form %}
<div class="type-{% ifequal field.field.widget.input_type "password" %}text{% else %}{% if not field.field.widget.input_type %}check{% else %}{{ field.field.widget.input_type }}{% endif %}{% endifequal %}{% if field.errors %} error{% endif %}">
  {% for error in field.errors %}
    <strong class="message">{{ error|escape }}</strong>
  {% endfor %}
  {% if not field.field.widget.input_type  %}
  {{ field }}
  <label for="{% if field.field.widget.attrs.id %}{{ field.field.widget.attrs.id }}{% else %}{{ field.auto_id }}{% endif %}">{{ field.label }}:{% if field.field.required %} <sup title="This field is mandatory.">*</sup>{% endif %}</label>
  {% else %}
  <label for="{% if field.field.widget.attrs.id %}{{ field.field.widget.attrs.id }}{% else %}{{ field.auto_id }}{% endif %}">{{ field.label }}:{% if field.field.required %} <sup title="This field is mandatory.">*</sup>{% endif %}</label>
  {{ field }}
  {% endif %}
  <em class="hint">{{ field.help_text }}</em>
</div>
{% endfor %}
