{% extends "base.html" %}

{% block mobile %}
	<ul id="log" title="Log" selected="true">
    <li class="group">{{ offset|add:"1" }} - {{ length|add:offset }}</li>
    {% if offset %}<li><a href="/log/?limit={{ limit }}&amp;offset={{ offset|add:limitn }}">Previous page</a></li>{% endif %}
    {% ifequal length limit %}<li><a href="/log/?limit={{ limit }}&amp;offset={{ offset|add:limit }}">Next page</a></li>{% endifequal %}
    {% for result in results %}
    <li style="font-weight: normal;">
      <em style="color: cornflowerblue;">{{ result.tstamp|localedatetime }}</em><br />
      <em>{{ result.service.hostname }}</em><br />
      <img src="/icons/{% ifequal result.statusimg "good" %}accept{% else %}{% ifequal result.statusimg "waiting" %}clock{% else %}error{% endifequal %}{% endifequal %}.png" alt="" />
		  <strong>{{ result.status }}</strong>
    </li>
    {% endfor %}
    <li class="group">{{ offset|add:"1" }} - {{ length|add:offset }}</li>
    {% if offset %}<li><a href="/log/?limit={{ limit }}&amp;offset={{ offset|add:limitn }}">Previous page</a></li>{% endif %}
    {% ifequal length limit %}<li><a href="/log/?limit={{ limit }}&amp;offset={{ offset|add:limit }}">Next page</a></li>{% endifequal %}
  </ul>
{% endblock %}

{% block menu %}
  <li><a href="/" title="Home">Home</a></li>
  <li><a href="/dashboard/" title="Dashboard">Dashboard</a></li>
  {% if root %}<li><a href="/admin/" title="Admin">Admin</a></li>{% endif %}
  {% if root %}<li class="active"><strong>Log</strong></li>{% endif %}
  <li><a href="/logout/" title="Logout">Logout</a></li>
{% endblock %}

{% block content %}
  <div id="upper"></div>
  <div id="base">
    <p class="right">{% if offset %}<a href="/log/?limit={{ limit }}&amp;offset={{ offset|add:limitn }}" class="toggle">&laquo; Previous</a> |{% endif %}
    {{ offset|add:"1" }} - {{ length|add:offset }}
    {% ifequal length limit %}| <a href="/log/?limit={{ limit }}&amp;offset={{ offset|add:limit }}" class="toggle">Next &raquo;</a>{% endifequal %}</p>
    <table class="full">
      <tbody>
        <tr>
          <th scope="col">Hostname</th>
          <th scope="col">Time</th>
          <th scope="col">Status</th>
        </tr>
        {% for result in results %}
        <tr>
          <td colspan="1">{{ result.service.hostname }}</td>
          <td colspan="1">{{ result.tstamp|localedatetime }}</td>
          <td colspan="2"><img src="/icons/{% ifequal result.statusimg "good" %}accept{% else %}{% ifequal result.statusimg "waiting" %}clock{% else %}error{% endifequal %}{% endifequal %}.png" alt="" class="status" /> {{ result.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p class="right">{% if offset %}<a href="/log/?limit={{ limit }}&amp;offset={{ offset|add:limitn }}" class="toggle">&laquo; Previous</a> |{% endif %}
    {{ offset|add:"1" }} - {{ length|add:offset }}
    {% ifequal length limit %}| <a href="/log/?limit={{ limit }}&amp;offset={{ offset|add:limit }}" class="toggle">Next &raquo;</a>{% endifequal %}</p>
  </div>
  <div id="lower"></div>
{% endblock %}
