<!DOCTYPE html>
<html lang="{% firstof LANGUAGE_CODE 'en' %}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}{% endblock %}</title>
  
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="no" />
  
  {% block css %}
  <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ MEDIA_URL }}iui.css" />
  {% endblock %}

  {% block js %}
  <script type="text/javascript" src="{{ MEDIA_URL }}iui.js"></script>
  <script type="text/javascript">
    iui.animOn = true;
  </script>
  {% endblock %}

  {% block extra-head %}{% endblock %}
</head>
<body>
  {% block extra-top %}{% endblock %}
  {% block content %}{% endblock %}
  {% block extra-bottom %}{% endblock %}
</body>
</html>
