{% extends "base.html" %}

{% block navigation %}
  <li><a href="{% url 'dnsalloc:show_home' %}" title="Home">Home</a></li>
  {% if user.is_authenticated %}
  <li><a href="{% url 'dnsalloc:show_dashboard' %}" title="Dashboard">Dashboard</a></li>
  {% endif %}
  <li class="active"><strong>Status</strong></li>
{% endblock %}

{% block content %}
  <h3>Status History</h3>
  <div class="chart status" id="chart_status">
    <a href="{% url 'dnsalloc:api_results' 'json' %}"></a>
    <noscript>
      <div class="box warning">
        <p>You need to enable JavaScript in order to see the status graph.</p>
      </div>
    </noscript>
  </div>
{% endblock %}
