{% extends "base.html" %}
{% load jdatetime %}
{% load yamlform %}

{% block navigation %}
  <li><a href="{% url 'dnsalloc:show_home' %}" title="Home">Home</a></li>
  {% if user.is_authenticated %}
  <li class="active"><strong>Dashboard</strong></li>
  {% endif %}
  <li><a href="{% url 'dnsalloc:show_status' %}" title="Status">Status</a></li>
{% endblock %}

{% block content %}
  {% if service %}
  {% if service_edit_form %}
  <form action="{% url 'dnsalloc:edit_service' service.id %}" method="post" class="ym-form ym-columnar">
    {% csrf_token %}
    <h6>Edit DNS-O-Matic Service:</h6>
    {{ service_edit_form|yamlform }}
    <div class="ym-fbox-button">
      <input class="ym-button ym-save" type="submit" name="submit" value="Save Service" />
      <a class="ym-button ym-next" href="{% url 'dnsalloc:show_dashboard' %}" title="Go Back">Go Back</a>
    </div>
  </form>
  {% else %}
  <a class="ym-button ym-next float-right" href="{% url 'dnsalloc:show_dashboard' %}" title="Go Back">Go Back</a>
  {% ifnotequal service.status "waiting" %}<a class="ym-button ym-play float-right" href="{% url 'dnsalloc:force_service' service.id %}" title="Force Update">Force Update</a>{% endifnotequal %}
  <h3>Status of {{ service.hostname }}</h3>
  <table class="bordertable">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Status</th>
        <th scope="col">IP Address</th>
      </tr>
    </thead>
    <tbody>
      {% if service.results %}
      {% for result in service.results %}
      <tr>
        <td>{{ result.crdate|localedatetime }}</td>
        <td><img src="{{ STATIC_URL }}icons/{% ifequal result.statusimg "good" %}accept{% else %}{% ifequal result.statusimg "waiting" %}clock{% else %}error{% endifequal %}{% endifequal %}.png" alt="" class="status" /> {{ result.status }}</td>
        <td>{{ result.host }}</td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="3">No results for this week.</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  {% endif %}
  {% endif %}
  {% if services %}
  <table class="bordertable">
    <thead>
      <tr>
        <th scope="col">Hostname</th>
        <th scope="col">DNS-O-Matic Username</th>
        <th scope="col">DNS-O-Matic Service</th>
        <th scope="col">Status</th>
        <th scope="col">Manage</th>
      </tr>
    </thead>
    <tbody>
      {% for service in services %}
      <tr{% if not service.enabled %} style="background: #fff8f8;"{% endif %}>
        <td>{{ service.hostname }}</td>
        <td>{{ service.username }}</td>
        <td>{{ service.services }}</td>
        <td><a href="{% url 'dnsalloc:show_service' service.id %}" title="Status: {{ service.status }}"><img src="{{ STATIC_URL }}icons/{% ifequal service.statusimg "good" %}accept{% else %}{% ifequal service.statusimg "waiting" %}clock{% else %}error{% endifequal %}{% endifequal %}.png" alt="Status" /></a><a href="{% url 'dnsalloc:feed_service' service.id %}" title="Status Feed"><img src="{{ STATIC_URL }}icons/feed.png" alt="Feed" /></a></td>
        <td><a href="{% url 'dnsalloc:edit_service' service.id %}" title="Edit"><img src="{{ STATIC_URL }}icons/pencil.png" alt="Edit" /></a><a href="{% url 'dnsalloc:switch_service' service.id %}" title="{% if not service.enabled %}Enable{% else %}Disable{% endif %}"><img src="{{ STATIC_URL }}icons/{% if not service.enabled %}connect{% else %}disconnect{% endif %}.png" alt="{% if not service.enabled %}Enable{% else %}Disable{% endif %}" /></a><a href="{% url 'dnsalloc:delete_service_ask' service.id %}" title="Delete"><img src="{{ STATIC_URL }}icons/delete.png" alt="Delete" /></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  {% if service_create_form %}
  <form action="{% url 'dnsalloc:create_service' %}" method="post" class="ym-form ym-columnar">
    {% csrf_token %}
    <h6>Create DNS-O-Matic Service:</h6>
    {{ service_create_form|yamlform }}
    <blockquote><p class="highlight"><small>The usernames, passwords, or other login information will be available to this application!<br />
    The information is sent through a secure connection and is only used at the time an update is broadcasted.</small></p></blockquote>
    <div class="ym-fbox-button">
      <input class="ym-button ym-save" type="submit" name="submit" value="Create Service" />
    </div>
  </form>
  {% endif %}
{% endblock %}
