<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Please wait...</title>
  <meta http-equiv="refresh" content="0; URL={{ target }}" />
</head>
<body>
  <center>Please wait...</center>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try { var pageTracker = _gat._getTracker("UA-2841986-5");{% if user %} pageTracker._setVar("{{ user.email }}");{% endif %} pageTracker._trackPageview("{{ target }}"); } catch(err) {}
  </script>
</body>
</html>
