{% extends "base.html" %}

{% block mobile %}
  <div class="toolbar">
    <h1 id="pageTitle"></h1>
    <a id="backButton" class="button" href="#"></a>
    <a class="button" href="/" target="_self">Home</a>
  </div>

	<ul id="dashboard{% if message %}-{{ message|slugify }}{% endif %}" title="Dashboard"{% ifnotequal mode "add" %}{% ifnotequal mode "edit" %} selected="true"{% endifnotequal %}{% endifnotequal %}{% if message %} onload="alert('{{ message }}');"{% endif %}>
    {% if services %}
    <li class="group">Services</li>
    {% for service in services %}
    <li><a href="#service_{{ service.key.id }}"><img src="/icons/{% ifequal service.statusimg "good" %}accept{% else %}{% ifequal service.statusimg "waiting" %}clock{% else %}error{% endifequal %}{% endifequal %}.png" alt="" /> {{ service.hostname }}</a></li>
    {% endfor %}
    {% endif %}
    <li class="group">Options</li>
    <li><a href="#add_service">Add Service</a></li>
  </ul>
  
  {% for service in services %}
  <ul id="service_{{ service.key.id }}" title="{{ service.hostname }}">
    <li class="group">Options</li>
    <li><a href="#service_results_{{ service.key.id }}">Results</a></li>
    <li><a href="/dashboard/feed/{{ service.key.id }}/" target="_self">Feed</a></li>
    <li><a href="#edit_service_{{ service.key.id }}">Edit</a></li>
    <li><a href="/dashboard/switch/{{ service.key.id }}/">{% if service.disabled %}Enable{% else %}Disable{% endif %}</a></li>
    <li><a href="#delete_service_{{ service.key.id }}">Delete</a></li>
  </ul>

  <ul id="service_results_{{ service.key.id }}" title="{{ service.hostname }}">
    {% for result in service.results %}
    <li style="font-weight: normal;">
      <em style="color: cornflowerblue;">{{ result.tstamp|localedatetime }}</em><br />
      <img src="/icons/{% ifequal result.statusimg "good" %}accept{% else %}{% ifequal result.statusimg "waiting" %}clock{% else %}error{% endifequal %}{% endifequal %}.png" alt="" />
		  <strong>{{ result.status }}</strong>
    </li>
    {% endfor %}
  </ul>
  
  <div id="delete_service_{{ service.key.id }}" title="{{ service.hostname }}" class="panel">
    <a class="whiteButton" href="/dashboard/delete/{{ service.key.id }}/">Delete Service</a><br />
    <a class="grayButton" onclick="history.back();" target="_self">Cancel</a>
  </div>
  
  <form id="edit_service_{{ service.key.id }}" title="Edit Service" class="panel" action="/dashboard/" method="post"{% ifequal mode "edit" %}{% if service.form.is_bound %} selected="true"{% endif %}{% endifequal %}>
    <h2>Edit {{ service.hostname }}</h2>
    <fieldset>
      {{ service.form.as_iui }}
      <input type="hidden" name="mode" value="edit" />
      <input type="hidden" name="edit" value="{{ service.key }}" />
    </fieldset>
    <a class="whiteButton" type="submit" href="#">Edit Service</a>
  </form>
  {% endfor %}
  
  <form id="add_service" title="Add Service" class="panel" action="/dashboard/" method="post"{% ifequal mode "add" %}{% if addform.is_bound %} selected="true"{% endif %}{% endifequal %}>
    <h2>Add Service</h2>
    <fieldset>
      {{ addform.as_iui }}
      <input type="hidden" name="mode" value="add" />
    </fieldset>
    <a class="whiteButton" type="submit" href="#">Add Service</a>
  </form>
{% endblock %}

{% block menu %}
  <li><a href="/" title="Home">Home</a></li>
  <li class="active"><strong>Dashboard</strong></li>
  {% if root %}<li><a href="/admin/" title="Admin">Admin</a></li>{% endif %}
  {% if root %}<li><a href="/log/" title="Log">Log</a></li>{% endif %}
  <li><a href="/logout/" title="Logout">Logout</a></li>
{% endblock %}

{% block content %}
  <p class="note">The usernames, passwords, or other login information will be available to this application and Google!<br />The information is send through a secure connection and is only used at the time an update is broadcasted.</p>
  <div id="upper">
    {% if message %}<p class="important"><span class="float_right"><a href="/dashboard/" title="Close" class="toggle">Close</a></span><span>{{ message }}</span></p>{% else %}
    {% if service %}
    {% ifequal mode "edit" %}
    <form action="/dashboard/" method="post" class="yform columnar">
    <fieldset>
      <legend><img src="/icons/pencil.png" alt="" /> <strong>Edit DNS-O-Matic Service Update:</strong></legend>
      {{ service.form.as_yaml }}
      <div class="type-button">
        <input type="hidden" name="mode" value="edit" />
        <input type="hidden" name="edit" value="{{ service.key }}" />
        <input type="submit" name="submit" value="Save Service" />
        <a href="/dashboard/" title="Close" class="toggle"><input type="button" name="close" value="Close" /></a>
      </div>
    </fieldset>
    </form>
    {% else %}
    <table class="full">
      <thead>
        <tr><th scope="col" colspan="3">Status of {{ service.hostname }}:</th></tr>
      </thead>
      <tbody>
        <tr>
          <th scope="col">Time</th>
          <th scope="col">Status</th>
          <th class="right">{% ifequal service.status "waiting" %}<em>Force update</em>{% else %}<a href="/dashboard/force/{{ service.key.id }}/" title="Force update" class="toggle">Force update</a>{% endifequal %} | <a href="/dashboard/" title="Close" class="toggle">Close</a></th>
        </tr>
        {% if service.results %}
        {% for result in service.results %}
        <tr>
          <td colspan="1">{{ result.tstamp|localedatetime }}</td>
          <td colspan="2"><img src="/icons/{% ifequal result.statusimg "good" %}accept{% else %}{% ifequal result.statusimg "waiting" %}clock{% else %}error{% endifequal %}{% endifequal %}.png" alt="" class="status" /> {{ result.status }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td colspan="3">No results for this week.</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
    {% endifequal %}
    {% endif %}
    {% endif %}
  </div>
  <div id="base">
    <table class="full">
      <tbody>
        <tr>
          <th scope="col">Hostname</th>
          <th scope="col">DNS-O-Matic Username</th>
          <th scope="col">DNS-O-Matic Service</th>
          <th scope="col">Status</th>
          <th scope="col">Manage</th>
        </tr>
        {% for service in services %}
        <tr>
          <td>{{ service.hostname }}</td>
          <td>{{ service.username }}</td>
          <td>{{ service.services }}</td>
          <td><a href="/dashboard/status/{{ service.key.id }}/" title="Status: {{ service.status }}" class="toggle"><img src="/icons/{% ifequal service.statusimg "good" %}accept{% else %}{% ifequal service.statusimg "waiting" %}clock{% else %}error{% endifequal %}{% endifequal %}.png" alt="" /></a><a href="/dashboard/feed/{{ service.key.id }}/" title="RSS Status Feed"><img src="/icons/rss.png" alt="RSS" /></a></td>
          <td><a href="/dashboard/edit/{{ service.key.id }}/" title="Edit" class="toggle"><img src="/icons/pencil.png" alt="Edit" /></a><a href="/dashboard/switch/{{ service.key.id }}/" title="{% if service.disabled %}Enable{% else %}Disable{% endif %}" class="toggle"><img src="/icons/{% if service.disabled %}connect{% else %}disconnect{% endif %}.png" alt="{% if service.disabled %}Enable{% else %}Disable{% endif %}" /></a><a href="/dashboard/delete/{{ service.key.id }}/" title="Delete" class="delete"><img src="/icons/delete.png" alt="Delete" /></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div id="lower">
    {% ifnotequal mode "status" %}{% ifnotequal mode "edit" %}
    <form action="/dashboard/" method="post" class="yform columnar">
    <fieldset>
      <legend><img src="/icons/add.png" alt="" /> <strong>Add DNS-O-Matic Service Updates to your account:</strong></legend>
      {{ addform.as_yaml }}
      <div class="type-button">
        <input type="hidden" name="mode" value="add" />
        <input type="submit" name="submit" value="Add Service" />
      </div>
    </fieldset>
    </form>
    {% endifnotequal %}{% endifnotequal %}
  </div>
{% endblock %}
