{% extends "base.html" %}

{% block navigation %}
  <div class="hlist"><ul>
    <li class="active"><strong>Home</strong></li>
    {% if user.is_authenticated %}<li><a href="{% url dnsalloc.views.show_dashboard %}" title="Dashboard">Dashboard</a></li>{% endif %}
  </ul></div>
{% endblock %}

{% block content %}
  <p>This service allows you to populate IP changes to <a href="http://www.dnsomatic.com/">DNS-O-Matic</a> through another hostname, e.g. from <a href="http://www.dyndns.org/">DynDNS</a>. Currently the service checks for IP changes every ~5 minutes per entry.</p>
  <ul>
    <li>Sign in and add your hostname.</li>
    <li>Put in your <a href="http://www.dnsomatic.com/">DNS-O-Matic</a> Account information.</li>
    <li>We'll send updates to <a href="http://www.dnsomatic.com/">DNS-O-Matic</a> if the DNS record of your hostname changes.</li>
  </ul>
  <p>Currently watching {{ services }} hostnames.</p>
  <p class="warning"><strong>OpenDNS Users:</strong><br /><cite>1. DNS Allocator will not allow you to update your OpenDNS Account<br />2. DNS Allocator is not recommended or supported by OpenDNS<br />- Mike Damm, OpenDNS</cite><br /><br /><a href="http://www.opendns.com/contact/">Contact OpenDNS and tell them what you think about this!</a></p>
{% endblock %}
