{% extends "iphone/base.html" %}

{% block content %}
	<ul id="dashboard" title="Dashboard"{% if create_form %}{% if not create_form.is_bound %} selected="true"{% endif %}{% endif %}>
    {% if services %}
    <li class="group">Services</li>
    {% for service in services %}
    <li><a href="#service_{{ service.key.id }}"><img src="{{ MEDIA_URL }}dnsalloc/icons/{% ifequal service.statusimg "good" %}accept{% else %}{% ifequal service.statusimg "waiting" %}clock{% else %}error{% endifequal %}{% endifequal %}.png" alt="" /> {{ service.hostname }}</a></li>
    {% endfor %}
    {% endif %}
    <li class="group">Options</li>
    <li><a href="#add_service">Add Service</a></li>
  </ul>
  
  {% for service in services %}
  <ul id="service_{{ service.key.id }}" title="{{ service.hostname }}">
    <li class="group">Options</li>
    <li><a href="#service_results_{{ service.key.id }}">Results</a></li>
    <li><a href="{% url dnsalloc.views.feed_item service.key.id %}" target="_self">Feed</a></li>
    <li><a href="{% url dnsalloc.views.switch_item service.key.id %}">{% if not service.enabled %}Enable{% else %}Disable{% endif %}</a></li>
    <li><a href="#delete_service_{{ service.key.id }}">Delete</a></li>
  </ul>

  <ul id="service_results_{{ service.key.id }}" title="{{ service.hostname }}">
    {% for result in service.results %}
    <li style="font-weight: normal;">
      <em style="color: cornflowerblue;">{{ result.crdate|localedatetime }}</em><br />
      <img src="{{ MEDIA_URL }}dnsalloc/icons/{% ifequal result.statusimg "good" %}accept{% else %}{% ifequal result.statusimg "waiting" %}clock{% else %}error{% endifequal %}{% endifequal %}.png" alt="" />
		  <strong>{{ result.status }}</strong>
    </li>
    {% endfor %}
  </ul>
  
  <div id="delete_service_{{ service.key.id }}" title="{{ service.hostname }}" class="panel">
    <a class="whiteButton" href="{% url dnsalloc.views.delete_item service.key.id %}">Delete Service</a><br />
    <a class="grayButton" onclick="history.back();" target="_self">Cancel</a>
  </div>
  {% endfor %}
  
  <form id="add_service" title="Add Service" class="panel" action="{% url dnsalloc.views.create_item %}" method="post"{% if create_form %}{% if create_form.is_bound %} selected="true"{% endif %}{% endif %}>
    <h2>Add Service</h2>
    <fieldset>
      {{ create_form.as_row }}
    </fieldset>
    <a class="whiteButton" type="submit" href="#">Add Service</a>
  </form>
{% endblock %}
